# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
x64/Debug/vc142.pdb
x64/Debug/vc142.idb
x64/Debug/Calculator_MartinezMiguel.vcxproj.FileListAbsolute.txt
x64/Debug/Calculator_MartinezMiguel.pdb
x64/Debug/Calculator_MartinezMiguel.log
x64/Debug/Calculator_MartinezMiguel.Build.CppClean.log
x64/Debug/Calculat.a0aa802b.tlog/unsuccessfulbuild
x64/Debug/Calculat.a0aa802b.tlog/link.write.1.tlog
x64/Debug/Calculat.a0aa802b.tlog/link.read.1.tlog
x64/Debug/Calculat.a0aa802b.tlog/link.command.1.tlog
x64/Debug/Calculat.a0aa802b.tlog/link-rc.write.1.tlog
x64/Debug/Calculat.a0aa802b.tlog/link-rc.read.1.tlog
x64/Debug/Calculat.a0aa802b.tlog/link-cvtres.write.1.tlog
x64/Debug/Calculat.a0aa802b.tlog/link-cvtres.read.1.tlog
x64/Debug/Calculat.a0aa802b.tlog/CL.write.1.tlog
x64/Debug/Calculat.a0aa802b.tlog/CL.read.1.tlog
x64/Debug/Calculat.a0aa802b.tlog/CL.command.1.tlog
x64/Debug/Calculat.a0aa802b.tlog/Calculator_MartinezMiguel.lastbuildstate
Debug/vc142.pdb
Debug/vc142.idb
Debug/Calculator_MartinezMiguel.vcxproj.FileListAbsolute.txt
Debug/Calculator_MartinezMiguel.pdb
Debug/Calculator_MartinezMiguel.log
Debug/Calculator_MartinezMiguel.ilk
Debug/Calculator_MartinezMiguel.exe.recipe
Debug/Calculator_MartinezMiguel.Build.CppClean.log
Debug/Calculat.a0aa802b.tlog/link.write.1.tlog
Debug/Calculat.a0aa802b.tlog/link.read.1.tlog
Debug/Calculat.a0aa802b.tlog/link.command.1.tlog
Debug/Calculat.a0aa802b.tlog/CL.write.1.tlog
Debug/Calculat.a0aa802b.tlog/CL.read.1.tlog
Debug/Calculat.a0aa802b.tlog/CL.command.1.tlog
Debug/Calculat.a0aa802b.tlog/Calculator_MartinezMiguel.lastbuildstate
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/a6d7d35de725c344/CALCULATOR.ipch
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/76fb0a398a8f49e7/CALCULATOR.ipch
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/5d930f2ce9ad1ba/MAIN.ipch
.vs/Calculator_MartinezMiguel/v16/Browse.VC.opendb
.vs/Calculator_MartinezMiguel/v16/Browse.VC.db-wal
.vs/Calculator_MartinezMiguel/v16/Browse.VC.db-shm
.vs/Calculator_MartinezMiguel/v16/Browse.VC.db
.vs/Calculator_MartinezMiguel/v16/.suo
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/a1daa13af94dd1d/MAIN.ipch
Debug/Calculat.a0aa802b.tlog/unsuccessfulbuild
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/3220964be3e1ae78/BUTTONFACTORY.ipch
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/de29a80619063d7b/PROCESSOR.ipch
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/cda5f836e3ac02c6/PROCESSOR.ipch
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/e77db9ff6f512476/MULTIPLICATION.ipch
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/969791ac67eba9f3/IBASECOMMAND.ipch
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/68442d01bc496cf/SUBSTRACTION.ipch
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/4437cdc14e4ac200/ADDITION.ipch
.vs/Calculator_MartinezMiguel/v16/ipch/AutoPCH/41f32467a13c66f0/DIVITION.ipch
